.folder {
    background: #e9e7e789;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    
    & span {
        margin: 4px;
    }
}


.file {
    display: flex;
    flex-direction: column;
}